<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/ui.jqgrid.css"/>
    <link rel="stylesheet" type="text/css" href="/css/jquery-ui.min.css"/>
    <script src="/js/jquery-3.1.1.min.js"></script>
    <!-- 包括所有已编译的插件 -->
    <script src="/js/jquery-ui.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/grid.locale-cn.js"></script>
    <script src="/js/grid.jqueryui.js"></script>
    <script src="/js/jquery.jqGrid.min.js"></script>

</head>
<body>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                        aria-hidden="true">×
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    会员开户
                </h4>
            </div>
            <!--//模态框内容-->
            <div class="modal-body">
                <label>会员识别码</label>
                <input id="identyID" type="text" placeholder="会员识别码"/>
                手机号码（可选）：
                <input id="phoneNum" type="text" placeholder="请输入手机号码（可选）" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default"
                        data-dismiss="modal">关闭
                </button>
                <button type="button" class="btn btn-primary" onclick="vipReg()">
                    确认开户
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<input id="vipID" type="text" placeholder="扫描二维码或者输入会员手机号"/>
<button onclick="reloadList()">查询</button>
<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">会员开户</button>
<center>
    <table id="list"></table>
    <div id="pager"></div>
</center>

    <script>

        $(function () {
            $('#myModal').modal('hide');

            $('#myModal').on('hide.bs.modal',
                function() {
                //对话框关闭时清空
                    $("#identyID").val("");
                    $("#phoneNum").val("");
                })
        })


        jQuery("#list").jqGrid({
            url: "/getVIPInfo",
            datatype: "local",
            mtype: 'GET',
            colNames: [ '会员识别码', '手机号码', '积分', '注册时间'],
            colModel: [
                {name: 'vipID', index: 'vipID', width: 100, align: "center"},
                {name: 'phoneNum', index: 'phoneNum', width: 100, align: "center"},
                {name: 'score', index: 'score', width: 150, align: "center"},
                {name: 'creatDate', index: 'creatDate', width: 150, align: "center"}
            ],
            rownumbers:true,
            multiselect: true,
            multiboxonly:true,
            loadComplete: function () {
                var rowIds = $("#list").jqGrid('getDataIDs');
                if(rowIds.length==0) {
                    jQuery("#list").jqGrid("clearGridData");
                    alert("未查询到数据")
                }
            },
            beforeSelectRow:function beforeSelectRow()
            {

            },
            rowList: [10, 20, 30],
            viewrecords: true,
            loadonce:false,
            sortable: false,
            pager: jQuery('#pager'),
            rowNum: 5,
//width: 'auto',
            width: '1200',
            height: '340',
            caption: "会员列表"
        })


        //会员开户
        function vipReg() {
            var vipID=$("#identyID").val();
            var phoneNum=$("#phoneNum").val();
            /*<![CDATA[*/
            if(vipID==""&phoneNum==""){
                /*]]>*/
                alert("会员信息至少需要填写一个");
                return;

            }
            //后台通信，保存信息到数据库
            $.ajax({
                url: '/creatVIP',
                type: "get",
                data: {
                    identityCode: vipID,
                    phoneNum: phoneNum
                },
                error: function (error) {
                    alert("抱歉，系统异常，请刷新后重新操作")
                },
                success: function (data) {
                    if(data=="100") {
                        alert("操作成功");
                        window.location.reload();
                        return;
                    }
                    if(data=="102") {
                        alert("已经注册过，请直接使用");
                        return;
                    }
                    if(data=="103") {
                        alert("手机号码已经被注册过，请更换注册方式");
                        return;
                    }
                    if(data=="101"){
                        alert("操作失败")
                        return;
                    }
                }
            })
        }

        //会员列表重新加载
        function reloadList() {
            var vipid=$("#vipID").val();
            $("#list").jqGrid('setGridParam',{
                datatype:'json',
                mtype: 'GET',
                postData:{'identityCode':vipid} //发送数据
                /*page:1*/
            }).trigger("reloadGrid"); //重新载入
        }
    </script>
</body>

</html>