<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/ui.jqgrid.css"/>
    <link rel="stylesheet" type="text/css" href="/css/jquery-ui.min.css"/>
   <script src="/js/jquery-3.1.1.min.js"></script>
    <script src="/js/jquery-ui.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/grid.jqueryui.js"></script>
    <script src="/js/grid.locale-cn.js"></script>
    <script src="/js/jquery.jqGrid.min.js"></script>
    <style type="text/css">
        .ui-jqgrid .ui-jqgrid-titlebar{
            background: #FF6700;
            color:white;
            height: 50px;
            line-height: 30px;
            font-size: large;
        }
    </style>
</head>
<body>
<div style="width: 90%; background: white;margin: 40px;">
    <div class="instoreTitle" style="margin-left:60px;margin-top: 20px;font-size: 36px;font-weight: 400;line-height: 68px;color: #b0b0b0;">
        <h1>库存信息查询与标签生成</h1></div>
</div>
<hr/>
<div class="row">


    <input id="goodsNameinput" class="form-control" style="margin-left: 112px;width: 300px" type="text" onkeypress="reloadEnter()" placeholder="输入商品条码或者商品名查询商品信息"/>


    <button class="btn instoreBtn" onclick="reload()">查询</button>
</div>
            <hr/>
    <div class="row">

    <input type="text" class="form-control"  id="newPrice" style="display:inline-block;margin-left: 112px;width: 300px"  placeholder="选择一行数据后输入更新后价格"/>
    <button style="" class="btn instoreBtn"  onclick="save()">保存</button>

    </div>
            <hr/>
<div class="row">
  <input type="text" class="form-control" id="count" style="display:inline-block;margin-left: 112px;width: 300px" placeholder="请输入打印数量"/>
    <button class="btn instoreBtn" onclick="print()">打印标签</button>
</div>

   <center style="margin-top: 30px">
       <table id="goodsList"></table>
   </center>




    <script>

        function reloadEnter() {
            if(event.keyCode==13){
                reload();
            }
        }
        $(function () {
            $(".ui-jqgrid-titlebar-close").remove();
            $("#goodsNameinput").focus();
            $("#goodsList_cb").remove();
        })
        $("#goodsList").jqGrid({
            url: "/getGoodsInfoAll",
            datatype: "local",
            mtype: 'GET',
            colNames: [ '条形码', '商品名', '商品类别', '特征','单价','折扣价', '数量'],
            colModel: [
                {name: 'zxingCode', index: 'zxingCode', width: 100, align: "center"},
                {name: 'goodsName', index: 'goodsName', width: 100, align: "center"},
                {name: 'goodsType', index: 'goodsType', width: 150, align: "center"},
                {name: 'goodsVersion', index: 'goodsVersion', width: 150, align: "center"},
                {name: 'price', index: 'price', width: 150, align: "center"},
                {name: 'salePrice', index: 'salePrice', width: 150, align: "center"},
                {name: 'goodsCount', index: 'goodsCount', width: 150, align: "center"}
            ],
            rownumbers:true,
            multiselect: true,
            multiboxonly:true,
            cellEdit:false,
            loadComplete: function () {

            },
            beforeSelectRow:function beforeSelectRow()
            {
                $("#goodsList").jqGrid('resetSelection');
                return(true);
            },

            viewrecords: true,
            loadonce:false,
            sortable: false,

            altclass: 'altRowsColor',
//width: 'auto',
            width: '1000',
            height: '3000',
            caption: "商品信息一览"
        })


        function reload() {
            var goodsName = $("#goodsNameinput").val();
            $("#goodsList").jqGrid('setGridParam', {
                datatype: 'json',
                mtype: 'GET',
                postData: {'goodsName': goodsName} //发送数据
                /*page:1*/
            }).trigger("reloadGrid"); //重新载入
        }
        //保存价格信息
        function save() {
            var curRowDataID = $("#goodsList").jqGrid("getGridParam", "selrow");
           // $('#goodsList').jqGrid("saveRow", "6");
            if (curRowDataID == null) {
                alert("请选择一条数据后进行操作");
                return;
            }
            var rowData = $("#goodsList").jqGrid("getRowData", curRowDataID);
            //更新后价格
            var newprice = $("#newPrice").val();
            //验证为价格
            //校验为金额
            var isNum=/^(([1-9][0-9]*)|(([0]\.\d{1,2}|[1-9][0-9]*\.\d{1,2})))$/;
            var reM = new RegExp(isNum);
            if(newprice.match(reM)==null){
                alert("请输入正确的金额!");
                return;
            }
            //对应的条码
            var zxingCode = rowData["zxingCode"];
            $.ajax({
                url: '/updatePrice',
                type: "get",
                data: {
                    zxingCode: zxingCode,
                    newprice: newprice
                },
                error: function (error) {
                    alert("系统异常，请重新操作")
                },
                success: function (data) {
                    if (data == "100") {
                        $("#newPrice").val("");
                        alert("操作成功");
                        reload();
                    }
                    else {
                        alert("操作失败，请刷新后重试！");
                    }
                }
            })
        }

        //打印
        function print() {
            var count=$("#count").val();
            //alert(count);
            if(count==""||count==null){
                alert("请输入打印数量");
                return;
            }
            var rule="^[0-9]*[1-9][0-9]*$";
            if(count.match(rule)==null){
                alert("数量为整数");
                return;
            }
            var curRowDataID = $("#goodsList").jqGrid("getGridParam", "selrow");
            if (curRowDataID == null) {
                alert("请选择一条数据后进行操作");
                return;
            }
            var rowData = $("#goodsList").jqGrid("getRowData", curRowDataID);
            $.ajax({
                url: '/zxingMake',
                type: "post",
                data: {
                    content: rowData["zxingCode"],
                    goodsVersion: rowData["goodsVersion"],
                    price:rowData["price"],
                    count:count
                },
                error: function (error) {
                    alert("系统异常，请重新操作")
                },
                success: function (data) {
                    if (data == "100") {
                        $("#count").val("");
                        alert("操作成功");
                    }
                    else {
                        alert("操作失败，请刷新后重试！");
                    }
                }
            })
        }
    </script>
</body>

</html>