<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/ui.jqgrid.css"/>
    <link rel="stylesheet" type="text/css" href="/css/jquery-ui.min.css"/>
    <script src="/js/jquery-3.1.1.min.js"></script>
    <!-- 包括所有已编译的插件 -->
    <script src="/js/jquery-ui.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/grid.locale-cn.js"></script>
    <script src="/js/grid.jqueryui.js"></script>
    <script src="/js/jquery.jqGrid.min.js"></script>

</head>
<body>
<center>
    <table id="list"></table>
    <div id="pager"></div>
</center>

    <script>
        jQuery("#list").jqGrid({
            url: "/getStudents",
            datatype: "json",
            mtype: 'GET',
            colNames: [ '学号', '姓名', '班级', '宿舍ID', '用户状态'],
            colModel: [
                {name: 'userID', index: 'userID', width: 100, align: "center"},
                {name: 'name', index: 'name', width: 100, align: "center"},
                {name: 'banji', index: 'banji', width: 150, align: "center"},
                {name: 'dormitoryID', index: 'dormitoryID', width: 150, align: "center"},
                {name: 'status', index: 'status', width: 150, align: "center"}

            ],
            rownumbers:true,
            multiselect: true,
            multiboxonly:true,
            loadComplete: function () {
                var rowIds = $("#list").jqGrid('getDataIDs');
                var curRowData = $("#list").jqGrid('getRowData', rowIds[0]);
                if(curRowData.userID=="") {
                    jQuery("#list").jqGrid("clearGridData");
                    alert("未查询到数据")
                }
            },
            beforeSelectRow:function beforeSelectRow()
            {
                $("#list").jqGrid('resetSelection');
                return(true);
            },
            rowList: [10, 20, 30],
            sortname: 'id',
            viewrecords: true,
            loadonce:true,
            sortable: false,
            pager: jQuery('#pager'),
            rowNum: 5,
            altclass: 'altRowsColor',
//width: 'auto',
            width: '1200',
            height: '340',
            caption: "宿舍学生列表"
        })
    </script>
</body>

</html>