<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title></title>
    <link rel="stylesheet" type="text/css" href="/css/my.css"/>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/ui.jqgrid.css"/>
    <link rel="stylesheet" type="text/css" href="/css/jquery-ui.min.css"/>


</head>
<body>
    <div id="head" class="bk-222">
        <div class="width-1200 clearfix">
            <div id="nav-list" class="float-left">
                <nav id='head-nav' class="navbar navbar-inverse" role="navigation">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <a class="navbar-brand" href="#"> <span class="glyphicon glyphicon-home"></span> 默默百货后台管理系统</a>
                        </div>
                        <div>
                            <ul id="navhead-ul" class="nav navbar-nav">
                                <li><a id="ruku" class="font-size-16" href="#">入库</a></li>
                                <li><a id="kucun" class="font-size-16" href="#">库存</a></li>
                                <li><a id="shouru" class="font-size-16" href="#">收入</a></li>
                                <li><a id="huiyuan" class="font-size-16" href="#">会员</a></li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
            <div id="user-op" class="color-bk float-right">
                <nav class="navbar navbar-inverse" role="navigation">
                    <div class="container-fluid">
                        <ul id="set" class="nav navbar-nav">
                            <li >
                                <a id="saleSetting" href="#" class="font-size-16" >优惠设置</a>

                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
    <div id="container">
        <div id="content" class="width-1200">
            <div class="instoreTitle" style="margin-left:60px;margin-top: 20px;font-size: 36px;font-weight: 400;line-height: 68px;color: #b0b0b0;">
                <h1>欢迎进入默默百货后台管理系统，导航区选择功能</h1></div>

        </div>
    </div>
    <!--<div id="foot" class="bk-222">-->
        <!--版权归土墩子所有-->
    <!--</div>-->


<script src="/js/jquery-3.1.1.min.js"></script>
<!-- 包括所有已编译的插件 -->
<script src="/js/jquery-ui.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/grid.locale-cn.js"></script>
<!--<script src="./js/grid.jqueryui.js"></script>-->
<!--<script src="./js/jquery.jqGrid.min.js"></script>-->
<script src="/js/myjs.js"></script>
</body>
</html>