<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/ui.jqgrid.css"/>
    <link rel="stylesheet" type="text/css" href="/css/jquery-ui.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/my.css"/>
    <script src="/js/jquery-3.1.1.min.js"></script>
    <!-- 包括所有已编译的插件 -->
    <script src="/js/jquery-ui.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/grid.locale-cn.js"></script>
    <script src="/js/grid.jqueryui.js"></script>
    <script src="/js/jquery.jqGrid.min.js"></script>
<style type="text/css">
    .ui-jqgrid .ui-jqgrid-titlebar{
        background: #FF6700;
        color:white;
        height: 50px;
        line-height: 30px;
        font-size: large;
    }
</style>
</head>
<body style="background: #ff7385">
<div style="width: 90%; background: white;margin: 40px;">
    <div class="instoreTitle" style="margin-left:60px;margin-top: 20px;font-size: 36px;font-weight: 400;line-height: 68px;color: #b0b0b0;">
        <h1>商品入库</h1></div>
    <div style="height: 50px;width: 90%;margin-left: 60px;margin-top: 20px; font-size: 16px;font-weight: 400;line-height: 50px;border-left: 4px solid #ff6700;background-color: #eee;color: #333;">
        填写商品入库信息
    </div>
    <hr/>
    <div class="row">
        <div class="info">
            <div class="labelTitle">商品条码（可选填）</div>
            <input id="zxing" class="form-control" onkeypress="zxingEnter()" style="width: 280px;" type="text"/>
        </div>
    </div>
<hr/>
    <div class="row">
        <div class="info">
            <div class="labelTitle">商品名</div>
            <input id="goodsName" class="form-control" style="width: 280px;" type="text"/>
        </div>
        <div class="info">
            <div class="labelTitle">商品分类</div>
            <input id="goodsType" class="form-control" style="width: 280px;" type="text"/>
        </div>
        <div class="info">
            <div class="labelTitle">特征</div>
            <input id="goodsVersion" class="form-control" style="width: 280px;" type="text"/>
        </div>
    </div>
    <div class="row">
        <div class="info">
            <div class="labelTitle">定价</div>
            <input id="price" class="form-control" style="width: 280px;ime-mode:disabled;" type="text"/>
        </div>
        <div class="info">
            <div class="labelTitle">数量</div>
            <input id="goodsCount" class="form-control" style="width: 280px;ime-mode:disabled;" type="text"/>
        </div>
        <div class="info">
            <div class="labelTitle"></div>
            <button class="btn instoreBtn" onclick="instore()">
                入库,生成商品标签
            </button>
        </div>
    </div>

    <div style="height: 50px;width:  90%;margin-left: 60px;margin-top: 20px; font-size: 16px;font-weight: 400;line-height: 50px;border-left: 4px solid #ff6700;background-color: #eee;color: #333;">
        如果商品之前已经入库过，请查询后填入对应商品的入库数量
    </div>
    <hr/>

    <div class="clearfix">
       <div class="float-left">
           <input id="goodsNameinput" class="form-control" style="margin-left: 60px;width: 300px" type="text" placeholder="输入商品名查询商品信息,支持模糊搜索"/>
           <button class="btn instoreBtn" onclick="reload()">查 询</button>
       </div>
        <div class="float-right">
            <input id="addCount" class="form-control" style="margin-left: 60px;width: 300px" type="text" placeholder="输入商品新增数量"/>
            <button class="btn instoreBtn" onclick="save()">新增数量</button>
        </div>
    </div>
</div>

<hr/>
<center>
<table id="goodsList"></table>
    <div id="pager"></div>
</center>
<script>
$(function () {
    $(".ui-jqgrid-titlebar-close").remove();
    $("#goodsList_cb").remove();
})


    function zxingEnter() {
        var keyCode = event.keyCode;
        if(keyCode==13){
            $("#goodsName").focus();
        }
    }
    /**
     * 商品入库操作
     */
    function instore() {
        var zxing =$("#zxing").val();
        var goodsName = $("#goodsName").val();
        var goodsType = $("#goodsType").val();
        var goodsVersion = $("#goodsVersion").val();
        var goodsCount = $("#goodsCount").val();
        var price = $("#price").val();
        if (goodsName == "" || goodsVersion == "" || goodsCount == "" || price == "" || goodsType == "") {
            alert('请输入完整的入库信息');
            return;
        }
        if(goodsName.length>125||goodsVersion.length>125||goodsType.length>125){
            alert('信息长度超过125个字符');
            return;
        }

        var type = /^[0-9]*[1-9][0-9]*$/;
        var re = new RegExp(type);
        //alert(ss.match(re));
        if (goodsCount.match(re) == null) {
            alert("数量必须是大于零的整数!");
            return;
        }
        //校验为金额
        var isNum=/^(([1-9][0-9]*)|(([0]\.\d{1,2}|[1-9][0-9]*\.\d{1,2})))$/;
        var reM = new RegExp(isNum);
        if(price.match(reM)==null){
            alert("请输入正确的金额!");
            return;
        }

        //后台通信，保存信息到数据库
        $.ajax({
            url: '/instore',
            type: "post",
            data: {
                zxing:zxing,
                goodsName: goodsName,
                goodsType: goodsType,
                goodsVersion: goodsVersion,
                goodsCount: goodsCount,
                price: price
            },
            error: function (error) {
                alert("系统异常，请重新操作")
            },
            success: function (data) {
                if(data=="100") {
                    $("#goodsName").val("");
                    $("#zxing").val("");
                    $("#goodsVersion").val("");
                     $("#goodsCount").val("");
                    $("#price").val("");
                    alert("操作成功")
                }
                if(data=="101") {
                    alert("操作失败，请重试")
                }
                if(data=="102") {
                    alert("条码在库存中已经存在，可以重新打标签也可以仅入库数量")
                }
            }
        })
    }
    //商品模型配置
    jQuery("#goodsList").jqGrid({
        url: "/getGoodsInfo",
        datatype: "local",
        mtype: 'GET',
        colNames: ['条形码', '商品名', '商品类别', '特征', '单价', '库存数量'],
        colModel: [
            {name: 'zxingCode', index: 'zxingCode', width: 100, align: "center"},
            {name: 'goodsName', index: 'goodsName', width: 100, align: "center"},
            {name: 'goodsType', index: 'goodsType', width: 150, align: "center"},
            {name: 'goodsVersion', index: 'goodsVersion', width: 150, align: "center"},
            {name: 'price', index: 'price', width: 150, align: "center"},
            {name: 'goodsCount', index: 'goodsCount', width: 150, align: "center"}
        ],
        rownumbers: true,
        multiselect: true,
        multiboxonly: false,
        cellEdit: false,
        loadComplete: function () {
            /*var rowIds = $("#goodsList").jqGrid('getDataIDs');
            var curRowData = $("#goodsList").jqGrid('getRowData', rowIds[0]);
            if (curRowData.zxingCode == "") {
                alert("未查询到数据");
            }*/
        },
        beforeSelectRow: function beforeSelectRow() {
            $("#goodsList").jqGrid('resetSelection');
            return(true);
        },
        onPaging: function(pgButton) {      //当点击翻页按钮但还为展现数据时触发此事件, 当然这跳转栏输入页
            //码改变页时也同样触发此事件
            alert(pgButton);   //first_booklistpage,  prev_booklistpage,  next_booklistpage,
                               //last_booklistpage

        },
        onSelectRow: function(id) {
            /*alert('1');
            if (id !== lastSel) {
                grid.jqGrid('saveRow', lastSel);
                lastSel = id;
            }
            grid.jqGrid('editRow', id, true);
            return true;*/
           /* /!*<![CDATA[*!/
            if (id && id != lastsel) {
                /!*]]>*!/
                jQuery('#goodsList').jqGrid('restoreRow', lastsel);
                jQuery('#goodsList').jqGrid('editRow', id, true);
                lastsel = id;
            }*/
        },
        pager:"#pager",
        rowNum : 10,
        rowList : [ 10, 15,30 ],
        jsonReader: {root:"dataList", page:"currPage", total:"totalpages",
            records:"totalCount", repeatitems:false, id : "id"},
        viewrecords: true,
        loadonce: false,
        sortable: false,
        altclass: 'altRowsColor',
//width: 'auto',
        width: '90%',
        height: '440',
        caption: "在库商品信息列表"
    })


/*    $('html').bind('click', function (e) { //用于点击其他地方保存正在编辑状态下的行
        if (lastsel != "") { //if a row is selected for edit
            if ($(e.target).closest('#goodsList').length == 0) { //and the click is outside of the grid //save the row being edited and unselect the row
                jQuery('#goodsList').jqGrid('saveRow', lastsel);
                jQuery('#goodsList').resetSelection();
                lastsel = "";
            }
        }
    });*/


    function reload() {
        var goodsName = $("#goodsNameinput").val();
        $("#goodsList").jqGrid('setGridParam', {
            datatype: 'json',
            mtype: 'GET',
            postData: {'goodsName': goodsName} //发送数据
            /*page:1*/
        }).trigger("reloadGrid"); //重新载入
    }

    //保存已经入库过的新增商品数量
    function save() {
        var curRowDataID = $("#goodsList").jqGrid("getGridParam", "selrow");
        if (curRowDataID == null||curRowDataID.length>1) {
            alert("请选择一条数据后进行操作");
            return;
        }
        var rowData = $("#goodsList").jqGrid("getRowData", curRowDataID);
        //此次新增数
        var addCount = $("#addCount").val();
//验证为正整数
        var type = /^[0-9]*[1-9][0-9]*$/;
        var re = new RegExp(type);
        //alert(ss.match(re));
        if (addCount.match(re) == null) {
            alert("新增数量必须是大于零的整数!");
            return;
        }
        //对应的条码
        var zxingCode = rowData["zxingCode"];
        var price=rowData["price"];
        var goodVersion=rowData["goodsVersion"];
        $.ajax({
            url: '/addCount',
            type: "get",
            data: {
                zxingCode: zxingCode,
                addCount: addCount,
                price:price,
                goodVersion:goodVersion
            },
            error: function (error) {
                alert("系统异常，请重新操作")
            },
            success: function (data) {
                if (data == "100") {
                    $("#addCount").val("");
                    alert("操作成功");
                    reload();
                }
                if(data=="105"){
                    alert("数量保存成功，但是打印失败，请在库存管理中重新添加打印任务");
                }
                if(data=="101") {
                    alert("操作失败，请刷新后重试！");
                }
            }
        })
    }
</script>
</body>

</html>