<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title></title>
    <!-- jqGrid组件基础样式包-必要 -->
    <link rel="stylesheet" href="/css/ui.jqgrid.css"/>
    <!-- jqGrid主题包-非必要 -->
    <!-- 在jqgrid/css/css这个目录下还有其他的主题包，可以尝试更换看效果 -->
    <link rel="stylesheet" href="/css/hot-sneaks/jquery-ui-1.8.16.custom.css"/>
    <link rel="stylesheet" type="text/css" href="/css/my.css"/>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/jquery-ui.min.css"/>
    <script src="/js/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="/js/jquery.jqGrid.min.js"></script>
    <style type="text/css">
        .ui-jqgrid .ui-jqgrid-titlebar {
            color: #ffffff;
            background: #000000;
            padding: .3em .2em .2em .3em;
            position: relative;
            font-size: 20px;
            border-left: 0 none;
            border-right: 0 none;
            border-top: 0 none;
        }

    </style>
    <!-- 包括所有已编译的插件 -->
    <!-- <script src="/js/jquery-ui.min.js"></script>-->
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/grid.locale-cn.js"></script>
    <!--    <script src="/js/grid.jqueryui.js"></script>-->
    <!--<script src="./js/jquery.jqGrid.min.js"></script>-->
    <script src="/js/myjs.js"></script>
    <!-- jquery插件包-必要 -->
    <!-- jqGrid插件包-必要 -->

    <!-- jqGrid插件的多语言包-非必要 -->
    <!-- 在jqgrid/js/i18n下还有其他的多语言包，可以尝试更换看效果 -->

</head>
<body style="margin: 10px;color: #ffffff;background: #000">
<div class="mytitle">默默百货店欢迎您再次光临
    <a href="/customerVip" target="_blank" style="color:white;float: right;margin-right: 80px" class="btn">会员开户</a>
</div>

<hr/>
<div class="modal fade" style="color: black" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                        aria-hidden="true">×
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    结账
                </h4>
            </div>
            <!--//模态框内容-->
            <div class="modal-body">
                <div>
                    <label class="shouldPay">应付款合计(F3)：</label>
                    <input id="tatalPrice1" style="font-size:200%;color: red" placeholder="0.00"/>
                </div>
                <div class="shouldPay">
                        实 &nbsp;  &nbsp;际&nbsp; &nbsp;收 &nbsp;款&nbsp;：
                    <input id="payMoney" onkeydown="actualMoney(event)" type="text" placeholder="实际收款"/>
                </div>
                <hr/>
                <div >

                    <label><input type="radio" id="payWayinput" checked="checked" name="payWay"
                                  value="1"/>现金(F1切换)</label>
                    <label><input type="radio" name="payWay" value="2"/>支付宝</label>
                    <label><input type="radio" name="payWay" value="3"/>微信</label>

                </div>
                <hr/>
            </div>
            <div class="modal-footer">
                <div class="shouldPay" style="float: left">
                    <label>找零：</label>
                    <label id="returnMoney" style="color: red">0.00</label>
                    <label>元</label>
                </div>

                <button type="button" class="btn btn-default"
                        data-dismiss="modal">关闭（Esc）
                </button>
                <button type="button" class="btn btn-default"
                        onclick="clearMomalContent()">重置(F5)
                </button>
                <button type="button" class="btn btn-primary" onclick="confirmBusiness()">
                    确认，并打印凭单(F4)
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<div class="modal fade" style="color: black" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                        aria-hidden="true">×
                </button>
                <h4 class="modal-title" id="myModalLabel1">
                    添加购买商品信息
                </h4>
            </div>
            <!--//模态框内容-->
            <div class="modal-body">
                <div class="shouldPay">
                    价格：
                    <input id="addPrice" onkeydown="addPrice()" type="text"/>
                    <label>元</label>
                </div>
                <div class="shouldPay">
                    数量：
                    <input id="addcount" onkeydown="addc()" type="text"/>
                </div>
                <hr/>
            </div>
            <div class="modal-footer">

                <button type="button" class="btn btn-default"
                        data-dismiss="modal">关闭(ESC)
                </button>
                <button type="button" class="btn btn-primary" onclick="addGoodsInfo()">
                    确认(Enter)
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<div style="margin-left: 100px;color: #000;"><input id="currentRatio" class="" style="width: 150px;" type="text" placeholder="设置本次总体折扣"/>
    <input id="currentSingleRatio" class="" style="width: 150px;" type="text" placeholder="设置本次单品折扣"/>
    <input id="currentSinglePrice" class="" style="width: 150px;" type="text" placeholder="设置本次单品特殊价"/>
    <Button id="tempSet" class="btn btn-primary btn-sh" onclick="tempSet()">设置</Button>


    <div style="">
        <input id="vipID" type="text" class="" style="width: 350px;"  onkeypress="vipLogin(event)" placeholder="扫码或者输入会员ID(F6)"/>
        <label style="color: white">当前顾客：</label>
        <label id="customer" style="color: red">普通顾客</label>
        <label style="margin-left: 20px;color: white">折扣：</label>
        <label id="saleRatio" style="color: red">无</label>
    </div>
</div>
<hr/>
<div>
    <input id="cashier" type="hidden"/>
<!--    <div>
        <label class="shouldPay">应付款合计：</label>
        <label id="tatalPrice" style="font-size:250%;color: #00ff29">0.00</label>
        <label class="shouldPay">元</label>
    </div>-->


    <input class="zxing" style="margin-left: 100px;color: red;font-size:14pt" id="zxingCode" type="text"
           onkeydown="press(event)"
           placeholder="扫描或者输入商品条形码(F1)"/>
    <input class="zxing" style="margin-left: 30px;font-size:14pt;color: red;" id="goodCount" type="text"
           onkeypress="enterCount()" placeholder="输入商品数量(F3)"/>
    <Button id="addBt" class="btn btn-primary btn-lg" style="margin-left: 20px" data-toggle="modal"
            data-target="#myModal1">手动添加（F4）
    </Button>
    <Button id="Jbt" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">结账（F5）</Button>
    <Button id="cacelBt" class="btn btn-primary btn-lg" onclick="cancleExchange()">取消交易</Button>

    <!--<Button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">会员登录</Button>-->
    <Button class="btn" onclick="delGoods()">购物列表移除</Button>

    <input id="originPrice" type="hidden"/>

</div>
<hr/>
<div>
    <center>
        <table id="list2" style="margin:0 auto"></table>
    </center>
</div>
<!--<div id="pager2"></div>-->

<script>
    var rid=0;
    var F4c = true;
    //设置商品特殊优惠和折扣，不操作数据库
    function tempSet() {
        var curRowDataID = $("#list2").jqGrid("getGridParam", "selrow");
        if (curRowDataID == null) {
            alert("请选择一条数据后进行操作");
            return;
        }
        var rowData = $("#list2").jqGrid("getRowData", curRowDataID);
        var goodsCount = rowData["goodsCount"];
        var price = rowData["price"];
        var specialPrice = $("#currentSinglePrice").val();

        var specialRatio = $("#currentSingleRatio").val();
        var sumPrice;
        /*<![CDATA[*/
        if (specialRatio != "" && specialPrice != "") {
            /*]]>*/
            alert("折扣价和折扣率不能同时设置");
            return;
        }
        if (specialRatio != "") {
            var specialPriceR = parseFloat(price) * parseFloat(specialRatio) / 10;
            sumPrice = (parseFloat(goodsCount) * parseFloat(specialPriceR)).toFixed(2);
            $("#list2").jqGrid('setRowData', curRowDataID, {"specialPrice": specialPriceR, "sumPrice": sumPrice});

            $("#zxingCode").focus();
            $("#currentSinglePrice").val("");
            $("#currentSingleRatio").val("");
            return;
        }
        if (specialPrice != "") {
            sumPrice = (parseFloat(goodsCount) * parseFloat(specialPrice)).toFixed(2);
            $("#list2").jqGrid('setRowData', curRowDataID, {"specialPrice": specialPrice, "sumPrice": sumPrice});
            $("#zxingCode").focus();
            $("#currentSinglePrice").val("");
            $("#currentSingleRatio").val("");
            return;
        }
    }
    function addPrice() {
        if (event.keyCode == 13) {
            var price = $("#addPrice").val();

            if (price == "") {
                return;
            }
            $("#addcount").focus();
        }
    }

    function enterCount() {
        if (event.keyCode == 13) {
            $("#zxingCode").focus();
        }
    }
    function addc() {
        if (event.keyCode == 13) {
            var price = $("#addPrice").val();

            if (price == "") {
                return;
            }
            var c = $("#addcount").val();
            if (c == "") {
                return;
            }
            addGoodsInfo();
        }
    }
    //按键监听
    function disableF5(event) {

        if (event) {
            var keyCode = event.keyCode ? event.keyCode : event.which ? event.which : event.charCode;
            //F1
            if (keyCode == 112) {
                if (F4c) {
                    $('#zxingCode').focus();
                }
                else {
                    //模态框

                    if ($("input[name='payWay']").get(0).checked) {
                        $("input[name='payWay']").get(1).checked = true;
                        event.returnValue = false;
                        return false;
                    }
                    if ($("input[name='payWay']").get(1).checked) {
                        $("input[name='payWay']").get(2).checked = true;
                        event.returnValue = false;
                        return false;
                    }
                    if ($("input[name='payWay']").get(2).checked) {
                        $("input[name='payWay']").get(0).checked = true;
                        event.returnValue = false;
                        return false;
                    }
                }
                event.returnValue = false;
                return false;
            }
            //F2 收款
            if (keyCode == 113) {
                if (F4c) {

                }

                else {
                    //莫太快
                    // $("input[name='payWay']").get(1).checked=true;
                }
                event.returnValue = false;
                return false;
            }
            //F3 手动添加
            if (keyCode == 114) {
                if (F4c) {
                    $("#goodCount").focus();
                }
                else {
                    $("#tatalPrice1").focus();
                }
                event.returnValue = false;
                return false;
            }
            //F4 手动添加
            if (keyCode == 115) {
                if (F4c) {
                    $('#myModal1').modal('show');
                }
                else {
                    //收款
                    modalF4();
                }
                event.returnValue = false;
                return false;
            }
            //F5 重置
            if (keyCode == 116) {
                if (F4c) {
                    $('#myModal').modal('show');
                }
                else {
                    //收款
                    clearMomalContent();
                }
                event.returnValue = false;
                return false;
            }


            //F6
                       if (keyCode == 117) {
             if (F4c) {
                 $("#vipID").focus();
             //cancleExchange();
             }
             else {
             //会员登录

             }
             event.returnValue = false;
             return false;
             }
        }

    }

    document.onkeydown = disableF5;
    //条形码回车
    function press() {

        //enableBt();

        if (event.keyCode == 13) {

            getGoodsInfo();
        }
        //F2
        /*     if (event.keyCode == 113) {
         $('#myModal').modal('show')
         }*/
        //f7
        /*  if (event.keyCode == 118) {
         cancleExchange();
         }*/
    }
    function modalF4() {

        var tatalPrice1 = $("#tatalPrice1").val();
        //实际收款
        var payMoney = $("#payMoney").val();
        if (payMoney == "") {
            return;
        }
        //校验为金额
        var isNum = /^(([1-9][0-9]*)|(([0]\.\d{1,2}|[1-9][0-9]*\.\d{1,2})))$/;
        var reM = new RegExp(isNum);
        if (payMoney.match(reM) == null) {
            return;
        }
        if (tatalPrice1.match(reM) == null) {
            return;
        }
        var returnMoneyValue = parseFloat(payMoney) - parseFloat(tatalPrice1);
        $("#returnMoney").html(returnMoneyValue.toFixed(2));
        //$("#paymoneylbl").html(payMoney);
        confirmBusiness();

    }
    //实际付款回车
    function actualMoney() {
        if (event.keyCode == 13) {
//计算找零
            //应付款
            var tatalPrice1 = $("#tatalPrice1").val();
            //实际收款
            var payMoney = $("#payMoney").val();
            //校验为金额
            var isNum = /^(([1-9][0-9]*)|(([0]\.\d{1,2}|[1-9][0-9]*\.\d{1,2})))$/;
            var reM = new RegExp(isNum);
            if (payMoney.match(reM) == null) {
                return;
            }
            if (tatalPrice1.match(reM) == null) {
                return;
            }
            var returnMoneyValue = parseFloat(payMoney) - parseFloat(tatalPrice1);
            $("#returnMoney").html(returnMoneyValue.toFixed(2));
           // $("#paymoneylbl").html(payMoney);


        }
    }
    jQuery("#list2").jqGrid(
        {
            url: '/getInstoreInfo',//组件创建完成之后请求数据的url
            datatype: "local",//请求数据返回的类型。可选json,xml,txt
            colNames: ['条形码', '分类', '商品名', '原价', '促销价', '会员价', '特殊调整价', '购买数量', '备注', '促销折扣额', '会员折扣额', '合计'],//jqGrid的列显示名字
            colModel: [
                {name: 'zxingCode', index: 'zxingCode', width: 200, align: "center"},
                {name: 'goodsType', index: 'goodsType', hidden: true},
                {name: 'goodsName', index: 'goodsName', width: 150, align: "center"},
                {name: 'price', index: 'price', width: 150, align: "center"},
                {name: 'salePrice', index: 'salePrice', width: 100, align: "center"},
                {name: 'vipPrice', index: 'vipPrice', width: 150, align: "center"},
                {name: 'specialPrice', index: 'specialPrice', width: 100, align: "center"},
                {name: 'goodsCount', index: 'goodsCount', width: 150, align: "center"},
                {name: 'goodsDescs', index: 'goodsDescs', hidden: true},
                {name: 'denouncePrice', index: 'denouncePrice',width: 100, align: "center"},
                {name: 'vipDenouncePrice', index: 'vipDenouncePrice',width: 100, align: "center"},
                {name: 'sumPrice', index: 'sumPrice', width: 150, align: "center"}

            ],
            //一页显示多少条
            //可供用户选择一页显示多少条
            //pager : '#pager2',//表格页脚的占位符(一般是div)的id
            // 初始化的时候排序的字段
            // sortorder : "desc",//排序方式,可选desc,asc
            mtype: "get",//向后台请求数据的ajax的类型。可选post,get
            viewrecords: true,
            loadonce: true,
            multiselect: true,
            multiboxonly: false,
            height: 360,
            caption: "已购买商品",//表格的标题名字
            /*        loadComplete: function () {
             /!*      var rowIds = $("#list2").getDataIDs();
             var curRowData = $("#list2").jqGrid('getRowData', rowIds[0]);
             if (curRowData.userID == "") {
             jQuery("#list2").jqGrid("clearGridData");
             alert("未查询到数据")
             }*!/
             },*/
        });
    $(function () {
        $("#cb_list2").remove();
        //enableBt();
        $('#myModal').modal('hide');
        $("#zxingCode").focus();
        $(".ui-jqgrid-titlebar-close").remove();
        $('#myModal').on('shown.bs.modal', function () {
            F4c = false;
            // 为应付款赋值
            shouldPayCalute();
            $("#originPrice").val($("#tatalPrice").html());
            $("#payMoney").focus();
        })

        $('#myModal').on('hidden.bs.modal', function () {
            // 为应付款赋值
            F4c = true;
            $("#zxingCode").focus();
            clearMomalContent();
        })

        $('#myModal1').on('shown.bs.modal', function () {
            // 为应付款赋值
            $("#addPrice").focus();
        })

        $('#myModal1').on('hidden.bs.modal', function () {
            // 为应付款赋值
            $("#addPrice").val("");
            $("#addcount").val("");
            $("#zxingCode").focus();
        })
    })
    //计算应付款
    function shouldPayCalute() {
        var rowIds = $("#list2").getDataIDs();
        var currentRatio=$("#currentRatio").val();
        var isNum=/^(([1-9][0-9]*)|(([0]\.\d{1,2}|[1-9][0-9]*\.\d{1,2})))$/;
        var reM = new RegExp(isNum);
        if(currentRatio!="") {
            if (currentRatio.match(reM) == null) {
                alert("请输入正确的打折数值!");
                return;
            }
        }

        if(parseFloat(currentRatio==0)||parseFloat(currentRatio)>10){
            alert("折扣率不对，折扣率大于0且小于10!");
        }
        //会员
        //会员自增编号，如果有的话
        var vipID = $("#customer").html();
        if (vipID != "普通顾客") {
            var shouldPay = 0;//合计汇总
            var saleRatio=$("#saleRatio").html();

            for (var i = 0; i  /*<![CDATA[*/ < /*]]>*/ rowIds.length; i++) {

                var curRowData = $("#list2").jqGrid('getRowData', rowIds[i]);
                //特价商品与特殊调整商品不参与任何会员折扣
                if(curRowData["specialPrice"]!=""||curRowData["salePrice"]!="") {
                    shouldPay = (parseFloat(shouldPay) + parseFloat(curRowData["sumPrice"])).toFixed(2);
                    continue;
                }
                //无会员价时，参与会员打折折扣
                /*<![CDATA[*/
                if(curRowData["vipPrice"]==""&&curRowData["specialPrice"]==""&&curRowData["salePrice"]==""){
                    /*]]>*/
                    shouldPay = (parseFloat(shouldPay) + parseFloat(curRowData["sumPrice"])*parseFloat(saleRatio)/10).toFixed(2);
                }
                else{
                    //有会员价时，以会员价为最终价格
                    if(curRowData["vipPrice"]!="") {

                        shouldPay = (parseFloat(shouldPay) + parseFloat(curRowData["vipPrice"]) * parseFloat(curRowData["goodsCount"])).toFixed(2);
                    }
                }
            }

            if(currentRatio!="") {
                $("#tatalPrice1").val((parseFloat(shouldPay)*parseFloat(currentRatio/10)).toFixed(2));
            }
            else{
                $("#tatalPrice1").val(shouldPay);
            }
        }
        else {
            //非会员
            var shouldPay = 0;//合计汇总

            for (var i = 0; i  /*<![CDATA[*/ < /*]]>*/ rowIds.length; i++) {

                var curRowData = $("#list2").jqGrid('getRowData', rowIds[i]);
                shouldPay = (parseFloat(shouldPay) + parseFloat(curRowData["sumPrice"])).toFixed(2);
            }
            var currentRatio=$("#currentRatio").val();
            if(currentRatio!="") {
                $("#tatalPrice1").val((parseFloat(shouldPay)*parseFloat(currentRatio/10)).toFixed(2));
            }
            else{
                $("#tatalPrice1").val(shouldPay);
            }
        }
    }

    /**
     * 获取已经扫描的相同商品
     */
    function getGoodsCount(zxingCode) {

        var count = $("#goodCount").val();
        if (count == "") {
            count = 1;
        }
        $("#goodCount").val("");
        var flag = false;
        var rowIds = $("#list2").getDataIDs();
        for (var i = 0; i  /*<![CDATA[*/ < /*]]>*/ rowIds.length; i++) {

            var curRowData = $("#list2").jqGrid('getRowData', rowIds[i]);
            if (curRowData['zxingCode'] == zxingCode) {
                flag = true;
                var gcount = parseInt(curRowData['goodsCount']) + parseInt(count);
                var sumPrice;
                var vipDenouncePrice;
                var denouncePrice;
                /*<![CDATA[*/
                if (curRowData["specialPrice"] != ""&&curRowData["specialPrice"] !=null) {
                    /*]]>*/
                    sumPrice = (parseFloat(curRowData["specialPrice"]) * gcount).toFixed(2);

                }
                /*<![CDATA[*/
                if (curRowData["salePrice"] != ""&&curRowData["salePrice"] !=null&&(curRowData["specialPrice"]=="" || curRowData["specialPrice"] ==null)) {
                    /*]]>*/
                    sumPrice = (parseFloat(curRowData["salePrice"]) * gcount).toFixed(2);

                }
                /*<![CDATA[*/
                if((curRowData["salePrice"] == ""||curRowData["salePrice"] ==null)&&(curRowData["specialPrice"]=="" || curRowData["specialPrice"] ==null)){
                    sumPrice = (parseFloat(curRowData["price"]) * gcount).toFixed(2);
                    /*]]>*/
                }

                /*<![CDATA[*/
                if (curRowData["salePrice"] != ""&&curRowData["salePrice"] !=null) {
                    /*]]>*/
                    denouncePrice = ((parseFloat(curRowData["price"])-parseFloat(curRowData["salePrice"])) * gcount).toFixed(2);

                }
                /*<![CDATA[*/
                if (curRowData["vipPrice"] != ""&&curRowData["vipPrice"] !=null) {
                    /*]]>*/
                    vipDenouncePrice = ((parseFloat(curRowData["price"])-parseFloat(curRowData["vipPrice"])) * gcount).toFixed(2);

                }
                //var sprice = gcount * parseFloat(curRowData['price']);
                //汇总价格赋值

               /* var tatal = $("#tatalPrice").html();
                $("#tatalPrice").html(parseFloat(tatal) + parseFloat(curRowData['price']) * parseInt(count));*/
                // alert("当前数量"+parseInt(curRowData['goodsCount'])+parseInt(count)+1);
                $("#list2").jqGrid('setRowData', rowIds[i], {"goodsCount": gcount, "denouncePrice":denouncePrice,"vipDenouncePrice":vipDenouncePrice,"sumPrice": sumPrice});
                $("#zxingCode").val("");
                /*$.extend(curRowData, {"goodsCount":parseInt(curRowData['goodsCount'])+count})
                 $("#list2").jqGrid('setRowData', rowIds[i], curRowData);*/
                return 0;
            }


        }

        if (!flag) {
            return count;
        }
    }

    function addGoodsInfo() {
        var price = $("#addPrice").val();
        var count = $("#addcount").val();
//校验为金额
        var isNum = /^(([1-9][0-9]*)|(([0]\.\d{1,2}|[1-9][0-9]*\.\d{1,2})))$/;
        var reM = new RegExp(isNum);
        if (price.match(reM) == null) {
            return;
        }
        //校验为正整数
        var re = /^[0-9]+$/;
        var pa = new RegExp(re);
        if (count.match(pa) == null) {
            return;
        }
//添加一行数据
//向grid增加一条数据
        var rowIds = $("#list2").getDataIDs();
        rid=rid+1;
        $("#list2").jqGrid("addRowData", rid, {
            'zxingCode': "", 'goodsType': "", "goodsName": "商品", "price": price,
            "goodsCount": count, "sumPrice": parseFloat(price) * count
        }, "last");

        //汇总价格更新
        $("#zxingCode").val("");
        $("#goodCount").val("");
        $('#myModal1').modal('hide')
    }
    /**
     * 根据条形码获取商品信息
     */
    function getGoodsInfo() {
        var zxingCode = $("#zxingCode").val();
        if (zxingCode == "") {
            return;
        }
        var currentGoodsCount = getGoodsCount(zxingCode);
        if (currentGoodsCount == 0) {
            return;
        }
        var rowIds = $("#list2").getDataIDs();
        $.ajax({
            url: '/getInstoreInfo',
            type: "get",
            data: {zxingCode: zxingCode},
            error: function (error) {
                alert("系统异常，请重新操作")
            },
            success: function (data) {
                if (data.resultCode == "100") {
                    //向grid增加一条数据
                    var denouncePrice;
                    var vipDenouncePrice;
                    /*<![CDATA[*/
                    if (data.denouncePrice != "" && data.denouncePrice != null) {
                        /*]]>*/
                        denouncePrice = (parseFloat(data.denouncePrice) * parseFloat(currentGoodsCount)).toFixed(2);
                    }
                    else {
                        denouncePrice = "";
                    }
                    /*<![CDATA[*/
                    if (data.vipDenouncePrice != "" && data.vipDenouncePrice != null) {
                        /*]]>*/
                        vipDenouncePrice = (parseFloat(data.vipDenouncePrice) * parseFloat(currentGoodsCount)).toFixed(2);
                    }
                    else {
                        vipDenouncePrice = "";
                    }
                    var sumPrice;
                    /*<![CDATA[*/
                    if (data.salePrice != ""&&data.salePrice !=null) {
                        /*]]>*/
                        sumPrice = (parseFloat(data.salePrice) * currentGoodsCount).toFixed(2);

                    }
                    else {
                        sumPrice = (parseFloat(data.price) * currentGoodsCount).toFixed(2);

                    }
                    rid=rid+1;
                    $("#list2").jqGrid("addRowData", rid, {
                        'zxingCode': data.zxingCode,
                        'goodsType': data.goodsType,
                        "goodsName": data.goodsName,
                        "price": data.price,
                        "goodsCount": currentGoodsCount,
                        "denouncePrice": denouncePrice,
                        "vipDenouncePrice":vipDenouncePrice,
                        "salePrice":data.salePrice,
                        "vipPrice":data.vipPrice,
                        "sumPrice": sumPrice
                    }, "last");

                    //汇总价格更新
                    //var tatal = $("#tatalPrice").html();
                    $("#zxingCode").val("");
                    $("#goodCount").val("");
                    // $("#tatalPrice").html((parseFloat(tatal) + parseFloat(data.price) * currentGoodsCount).toFixed(2));
                }
                else {
                    $("#goodsCount").val("");
                    alert("未查询到商品信息，请确认是否已经入库！");
                }
            }
        });
        //马上清空准备下一次输入
        $("#zxingCode").val("");
    }

    //删除对应商品
    function delGoods() {
        var curRowDataID = $("#list2").jqGrid("getGridParam", "selrow");
        if (curRowDataID == null) {
            alert("请选择一条数据后进行操作");
            return;
        }
        var rowData = $("#list2").jqGrid("getRowData", curRowDataID);
        $("#list2").jqGrid('delRowData', curRowDataID);
        var sumPrice = rowData["sumPrice"];
        var totalprice = $("#tatalPrice").html();
        var afterPrice = parseFloat(totalprice) - parseFloat(sumPrice);
        $("#tatalPrice").html(afterPrice);

    }
    function vipLogin() {
        if (event.keyCode == 13) {
            var vipID = $("#vipID").val();
            /*            var shouldPay = $("#tatalPrice").html();
             if (shouldPay == "0.00" || shouldPay == "0") {
             return;
             }*/
            /* var pay = $("#payMoney").val();
             if (pay == "") {
             return;
             }*/
            if (vipID == "") {
                return;
            }
            $.ajax({
                url: '/vipLogin',
                type: "get",
                data: {identityCode: vipID},
                error: function (error) {
                    alert("系统异常，请重新操作")
                },
                success: function (data) {
                    if (data.resultCode == "100") {
                        //登录成功
                        $("#zxingCode").focus();
                        if (data.saleRatio != null || data.saleRatio != "") {
                            $("#vipID").attr("disabled", true);
                            $("#customer").html(data.id);

                            $("#saleRatio").html(data.saleRatio);
                            //应付款重新赋值
                            //找零重新赋值
                        }
                        else {
                            $("#saleRatio").html("无");
                        }
                    }
                }
            })
        }

    }

    /**
     * 取消此次交易，清空页面信息
     */
    function cancleExchange() {
        $('#myModal').modal('hide');
        $("#list2").jqGrid("clearGridData");
        $("#goodCount").val('');
        $("#zxingCode").val('');
        $("#currentSinglePrice").val('');
        $("#currentRatio").val('');
        $("#currentSingleRatio").val('');
        $("#payMoney").val('');
        $("#tatalPrice").html('0.00');
        $("#zxingCode").focus();
        $("#customer").html('普通顾客');
        $("#vipID").val('');
        $("#vipID").removeAttr("disabled");
        $("#saleRatio").html('无');
    }

    //清空模态框内容,重置
    function clearMomalContent() {

        //$("#tatalPrice1").html($("#tatalPrice").html());
        $("#payMoney").val('');
        $("#payMoney").focus();
        $("#returnMoney").html('0.00');
        $("input[name='payWay']").get(0).checked = true;


    }

    //确认交易
    function confirmBusiness() {
        var shouldPay = $("#tatalPrice1").val();
//实际收款
        var payMoney = $("#payMoney").val();
        if (payMoney == "" || payMoney == "0" || payMoney == "0.00") {
            return;
        }
        if (shouldPay == "0.00" || shouldPay == "0") {
            return;
        }

        //遍历jqgrid
        var jsonArr = new Array();
        var rowIds = $("#list2").getDataIDs();
        for (var i = 0; i  /*<![CDATA[*/ < /*]]>*/ rowIds.length; i++) {

            var curRowData = $("#list2").jqGrid('getRowData', rowIds[i]);
            jsonArr.push(curRowData);
        }
        var saleGoodsDetails = JSON.stringify(jsonArr);
        //会员自增编号，如果有的话
        var vipID = $("#customer").html();
        //付款方式
        var payWay = $('input:radio:checked').val();
        //应付款


        var saleRatio = $("#saleRatio").html();
        //收银员
        var cashier = $("#cashier").val();
        $.ajax({
            url: '/salesSuccess',
            type: "post",
            data: {
                cashier: cashier,
                vipID: vipID,
                shouldPay: shouldPay,
                payMoney: payMoney,
                payWay: payWay,
                saleGoodsDetails: saleGoodsDetails,
                vipSalePrice: saleRatio,
                orginPrice: $("#originPrice").val()
            },
            error: function (error) {
                alert("系统异常，请重新操作")
            },
            success: function (data) {
                if (data == "100") {
                    cancleExchange();
                }
            }
        })
    }

    function enableBt() {
        var zxing = $("#zxingCode").val();
        if (zxing == "") {
            $("#addBt").attr("disabled", true);
        }
        var tatalPrice = $("#tatalPrice").html();
        if (tatalPrice == "0.00") {
            $("#Jbt").attr("disabled", true);
            $("#cacelBt").attr("disabled", true);
        }
        else {

            $("#addBt").removeAttr("disabled");
            $("#Jbt").removeAttr("disabled");
            $("#cacelBt").removeAttr("disabled");
        }
    }
</script>

</body>

</html>