<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title></title>
    <!-- jqGrid组件基础样式包-必要 -->
    <link rel="stylesheet" href="/css/ui.jqgrid.css" />
    <!-- jqGrid主题包-非必要 -->
    <!-- 在jqgrid/css/css这个目录下还有其他的主题包，可以尝试更换看效果 -->
    <link rel="stylesheet" href="/css/hot-sneaks/jquery-ui-1.8.16.custom.css" />
    <link rel="stylesheet" type="text/css" href="/css/my.css"/>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/jquery-ui.min.css"/>


    <script src="/js/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="/js/jquery.jqGrid.src.js"></script>

    <!-- 包括所有已编译的插件 -->
   <!-- <script src="/js/jquery-ui.min.js"></script>-->
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/grid.locale-cn.js"></script>
<!--    <script src="/js/grid.jqueryui.js"></script>-->
    <!--<script src="./js/jquery.jqGrid.min.js"></script>-->
    <script src="/js/myjs.js"></script>
    <!-- jquery插件包-必要 -->
    <!-- jqGrid插件包-必要 -->

    <!-- jqGrid插件的多语言包-非必要 -->
    <!-- 在jqgrid/js/i18n下还有其他的多语言包，可以尝试更换看效果 -->

</head>
<body>
<div>


    <label>应付款合计：</label>
    <label style="color: red">1888.00</label>
    <label>元</label>
    <Button class="btn" onclick="monthIncome()">结账（F2）</Button>

    <input id="zxingCode" type="text" placeholder="扫描或者输入商品条形码"/>
    <Button class="btn"  onclick="getGoodsInfo()">添加</Button>
</div>
<table id="list2"></table>
<!--<div id="pager2"></div>-->

    <script>
        jQuery("#list2").jqGrid(
            {
                url : '/getGoodsInfo',//组件创建完成之后请求数据的url
                datatype : "local",//请求数据返回的类型。可选json,xml,txt
                colNames: [ '条形码', '分类','商品名', '商品单价', '购买数量', '合计'],//jqGrid的列显示名字
                colModel: [
                    {name: 'goodsID', index: 'goodsID', width: 300, align: "center"},
                    {name: 'goodsType', index: 'goodsType', width: 100, align: "center"},
                    {name: 'goodsName', index: 'goodsName', width: 150, align: "center"},
                    {name: 'goodSprice', index: 'goodSprice', width: 150, align: "center"},
                    {name: 'goodsCount', index: 'goodsCount', width: 150, align: "center"},
                    {name: 'sumPrice', index: 'sumPrice', width: 150, align: "center"},

                ],
                rowNum : 10,//一页显示多少条
                rowList : [ 10, 20, 30 ],//可供用户选择一页显示多少条
                //pager : '#pager2',//表格页脚的占位符(一般是div)的id
                //sortname : 'id',//初始化的时候排序的字段
               // sortorder : "desc",//排序方式,可选desc,asc
                mtype : "get",//向后台请求数据的ajax的类型。可选post,get
                viewrecords : true,
                caption : "已购买商品",//表格的标题名字
                loadComplete: function () {
                    var rowIds = $("#list2").jqGrid('getDataIDs');
                    var curRowData = $("#list").jqGrid('getRowData', rowIds[0]);
                    if(curRowData.userID=="") {
                        jQuery("#list").jqGrid("clearGridData");
                        alert("未查询到数据")
                    }
                },
            });
        $(function() {
        })
/*            $.ajax({
                url: '/getDayIncome',
                type: "get",
                //data: {dormiid:dormitoryID},
                error:function (error) {
                    alert("请重试")
                },
                success: function (data) {
                    //var jsonData=JSON.parse(data);
                    //alert(jsonData);
                }
            });
        })*/

        /*jQuery("#list").jqGrid({
            url: "/getStudents",
            datatype: "local",
            mtype: 'GET',
            colNames: [ '条形码', '分类','商品名', '商品单价', '购买数量', '合计'],
            colModel: [
                {name: 'goodsID', index: 'goodsID', width: 100, align: "center"},
                {name: 'goodsType', index: 'goodsType', width: 100, align: "center"},
                {name: 'goodsName', index: 'goodsName', width: 150, align: "center"},
                {name: 'goodSprice', index: 'goodSprice', width: 150, align: "center"},
                {name: 'goodsCount', index: 'goodsCount', width: 150, align: "center"}

            ],
            cellEdit:true,
            rownumbers:true,
            multiselect: true,
            multiboxonly:true,
            loadComplete: function () {
                var rowIds = $("#list").jqGrid('getDataIDs');
                var curRowData = $("#list").jqGrid('getRowData', rowIds[0]);
                if(curRowData.userID=="") {
                    jQuery("#list").jqGrid("clearGridData");
                    alert("未查询到数据")
                }
            },
            beforeSelectRow:function beforeSelectRow()
            {
                $("#list").jqGrid('resetSelection');
                return(true);
            },
            //sortname: 'id',
            viewrecords: true,
            loadonce:true,
            sortable: false,
            rowNum: 5,
//width: 'auto',
            width: '1200',
            height: '340',
            caption: "已购买商品"
        })
*/
        function getGoodsInfo() {
            var zxingCode=$("#zxingCode").val();
            $.ajax({
                url: '/getGoodsInfo',
                type: "get",
                data: {zxingCode:zxingCode},
                error:function (error) {
                    alert("系统异常，请重新操作")
                },
                success: function (data) {
                    //向grid增加一条数据
                    $("#list2").jqGrid("addRowData", "1" ,{'goodsID':zxingCode, 'goodsType':"饰品","goodsName":"天使之眼","goodSprice":998,
                        "goodsCount":2,"sumPrice":1234}, "last" );
                }
            });

        }
    </script>

</body>

</html>